@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Massage Therapy";
}

<style>
    body {
        background-color: #EFEFEF
    }



    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        margin-top: 100px;
        background-color: #34eb6b;
        color: white;
        text-align: center;
    }
</style>

<br />
<br />
<br />
<div>
    <h1 style="font-family:Tahoma;padding-left:3em; color:#34eb6b; font-size:48px">Massage Therapy</h1>
    <hr style="height:3px;" />
    <p style="padding-left:8em;">
        Ova aplikacija je namijenjena za lokalni masažni salon koji nudi korisnicima razne masaže i prodaje proizvoda
        koji su specifični za tu branšu. Svaka osoba može instalirati aplikaciju na kojoj je dostupan cjenovnik usluga,
        galerija slika, te je moguće pregledati koje proizvode vlasnik ima u svojoj radnji. Korisnik aplikacije
        jednostavnom registracijom može rezervisati svoj termin u salonu za masaže.
    </p>
    <br />
    <div style="width:40%; margin-top:60px; padding-left:8em">

        <p>Klikom na link koji se nalazi ispod preuzimate .apk file za instalaciju aplikacije na svoj android uređaj.</p>
        <a style="color:#34eb6b" href="https://edufit-my.sharepoint.com/:f:/g/personal/rijad_dzanko_edu_fit_ba/EvauaSzyZxtDr8xHY_GbVJoBXkICA6qloVZQAhmPY3G5Wg?e=WIDpJN">Download app</a>
        <br />
        <p>
            Appetize link:
        </p>
        <a style="color:#34eb6b" href ="https://appetize.io/app/ftamab5vgm19b80zk3fmvmprv4">App</a>
    </div>
</div>
<br />
<br />
<br />
<br />
<h1 style="text-align:left;color:#34eb6b;padding-left:4em">PODACI ZA LOGIN</h1>
<div style="width:100%;padding-left:8em">
    <div style="width:20%;float:left;">
        <h3>Admin:</h3>
        Broj telefona: 062927158
        <br />

        Password: lozinka

        <h3>Korisnik:</h3>
        Broj telefona 123456789
        <br />
        Password: asdasdasd
        <h3>Korisnici se mogu i lično registrovati.</h3>
        <br />
        <br />
        <br />
        <br />
        <h3>GITHUB</h3>
        <h4><a style="color:#34eb6b" href="https://github.com/Olafyngvi/RKS-Android">AndroidApp Code+ API</a></h4>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
</div>

<div class="footer">
    <footer>Copyright Rijad Dzanko IB140158 © 2019. Razvoj korisničkih sučelja</footer>
</div>







